$yellow: yellow;
$cyan: cyan;
$magenta: magenta;

$yellow-light: mix($yellow, white, 15%);
$yellow-lighter: mix($yellow, white, 7%);
$cyan-light: mix($cyan, white, 15%);
$cyan-lighter: mix($cyan, white, 7%);
$magenta-light: mix($magenta, white, 15%);
$magenta-lighter: mix($magenta, white, 7%);
