body {
	padding-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 50px;
    color: #2d2d2d;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    /*color: #54a1ff;*/
}

.sample-projects .row {
    border: 5px dashed #acacac;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
    padding: 30px;
}

.bg-sample-image {
    /* background-color: #acacac; */
    /* background-color: #c6c6c6; */
    padding: 20px 0px;
}

.main-placard {
	padding: 40px 15px;
	text-align: center;
}


.bio {
    padding: 0px 15%;
    margin-bottom: 50px;
}

.centered-title {
    text-align: center;
}

.large-icon {
    font-size: 12em;
}

.initial-choices {
    text-align: center;
}

.initial-choices .fa ~ p {
    margin-top: 12px;
}

.initial-choices a:link { 
  color: inherit;
}

.initial-choices a:visited { 
  color: inherit;
}