<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>HEY IT'S MATT WADE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Personal Website for Developer Matt Wade" />

		<link rel="dns-prefetch" href="//fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103164724-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-103164724-1');
		</script>

		<link
			href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;900&family=Barlow:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link href="/css/main.css" rel="stylesheet" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
	</head>
	<body>
		<header class="header header--shadow intro">
			<h1>HEY IT’S<br />MATT WADE</h1>
			<blockquote>
				I am a frontend / fullstack developer. <br />I create resilient solutions to
				business problems.
			</blockquote>
		</header>
		<nav>
			<ul>
				<li>
					<a class="link" href="/pdfs/Matthew%20Wade%20-%20Resume.pdf"
						>Resume {% include resume.svg %}
					</a>
				</li>
				<li>
					<a
						class="link"
						rel="noopener"
						href="https://github.com/romellem"
						target="_blank"
						>GitHub Repositories {% include repo.svg %}
					</a>
				</li>
				<li>
					Sections:
					<ul>
						<li>
							<a class="link" href="#sample-projects">Sample Projects</a>
						</li>
						<li>
							<a class="link" href="#open-source">Open Source</a>
						</li>
						<li>
							<a class="link" href="#technical-knowledge">Technical Knowledge</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<section>
			<h2 class="header" id="sample-projects">SAMPLE PROJECTS</h2>
			<article class="full-bleed padded flow">
				<h3 class="header" id="keytruda-com">KEYTRUDA.COM</h3>
				<div class="images">
					<a href="https://www.keytruda.com" rel="noopener noreferrer" target="_blank"
						>{% imagePreview "/images/keytruda-desktop-flat-fs8.png", "Desktop version of Keytruda.com" %}</a>
					<a href="https://www.keytruda.com" rel="noopener noreferrer" target="_blank"
						>{% imagePreview "/images/keytruda-mobile-flat-fs8.png", "Mobile version of Keytruda.com" %}</a>
				</div>
				<dl>
					<dt>Role:</dt>
					<dd>Lead Developer</dd>

					<dt>Site Type:</dt>
					<dd>Statically Generated</dd>

					<dt>Technology Stack:</dt>
					<dd>
						<a class="link" href="https://handlebarsjs.com/">Handlebars</a>
					</dd>
					<dd>VanillaJS + <a class="link" href="https://redux.js.org/">Redux</a></dd>
					<dd>
						<a class="link" href="https://sass-lang.com/">SCSS</a> (<a
							class="link"
							href="http://getbem.com/"
							>BEM</a
						>)
					</dd>

					<dt>Tooling:</dt>
					<dd>
						<a class="link" href="https://gulpjs.com/">Gulp</a> +
						<a class="link" href="http://browserify.org/">Browserify</a> +
						<a class="link" href="https://babeljs.io/">Babel</a>
					</dd>
					<dd>
						<a class="link" href="https://github.com/puppeteer/puppeteer">Puppeteer</a>
					</dd>
				</dl>
				<a
					class="link"
					href="https://www.keytruda.com"
					rel="noopener noreferrer"
					target="_blank"
					><strong>Link to keytruda.com</strong>
					{% include link.svg %}
				</a>
			</article>
			<article class="full-bleed padded flow">
				<h3 class="header" id="my-caseih-com">MY.CASEIH.COM</h3>
				<div class="images">
					<a href="https://my.caseih.com/" rel="noopener noreferrer" target="_blank"
						>{% imagePreview "/images/mycaseih-desktop-flat-fs8.png", "Desktop version of MyCaseIH" %}</a>
					<a href="https://my.caseih.com/" rel="noopener noreferrer" target="_blank"
						>{% imagePreview "/images/mycaseih-mobile-flat-fs8.png", "Mobile version of MyCaseIH" %}</a>
				</div>
				<dl>
					<dt>Role:</dt>
					<dd>Lead Developer</dd>

					<dt>Site Type:</dt>
					<dd>Single Page Application</dd>

					<dt>Technology Stack:</dt>
					<dd>
						<a class="link" href="https://reactjs.org/">React</a> +
						<a class="link" href="https://redux.js.org/">Redux</a> +
						<a class="link" href="https://reactrouter.com/">React Router</a>
					</dd>
					<dd>
						<a class="link" href="https://sass-lang.com/">SCSS</a> (<a
							class="link"
							href="http://getbem.com/"
							>BEM</a
						>)
					</dd>

					<dt>Tooling:</dt>
					<dd>
						<a class="link" href="https://expressjs.com/">Express</a> +
						<a class="link" href="https://www.npmjs.com/package/faker">Faker.js</a>
						for API Mocks
					</dd>
				</dl>
				<a
					class="link"
					href="https://my.caseih.com/"
					rel="noopener noreferrer"
					target="_blank"
					><strong>Link to my.caseih.com</strong>
					{% include link.svg %}
				</a>
			</article>
			<article class="full-bleed padded flow">
				<h3 class="header" id="breatheknowgo-com">BREATHEKNOWGO.COM</h3>
				<div class="images">
					<a
						href="https://www.breatheknowgo.com/"
						rel="noopener noreferrer"
						target="_blank"
						>{% imagePreview "/images/bkg-desktop-flat-fs8.png", "Desktop version of Breath Know Go" %}</a>
					<a
						href="https://www.breatheknowgo.com/"
						rel="noopener noreferrer"
						target="_blank"
						>{% imagePreview "/images/bkg-mobile-flat-fs8.png", "Mobile version of Breath Know Go" %}</a>
				</div>
				<dl>
					<dt>Role:</dt>
					<dd>Lead Developer</dd>

					<dt>Site Type:</dt>
					<dd>Statically Generated</dd>

					<dt>Technology Stack:</dt>
					<dd>
						<a class="link" href="https://handlebarsjs.com/">Handlebars</a>
					</dd>
					<dd>VanillaJS + <a class="link" href="https://redux.js.org/">Redux</a></dd>
					<dd>Service Worker</dd>
					<dd>
						<a class="link" href="https://sass-lang.com/">SCSS</a> (<a
							class="link"
							href="http://getbem.com/"
							>BEM</a
						>)
					</dd>

					<dt>Tooling:</dt>
					<dd>
						<a class="link" href="https://gulpjs.com/">Gulp</a> +
						<a class="link" href="http://browserify.org/">Browserify</a> +
						<a class="link" href="https://babeljs.io/">Babel</a>
					</dd>
					<dd>
						<a class="link" href="https://github.com/puppeteer/puppeteer">Puppeteer</a>
					</dd>
				</dl>
				<a
					class="link"
					href="https://www.breatheknowgo.com/"
					rel="noopener noreferrer"
					target="_blank"
					><strong>Link to breatheknowgo.com</strong>
					{% include link.svg %}
				</a>
			</article>
			<article class="full-bleed padded flow">
				<h3 class="header" id="mystanford-mba">MYSTANFORD.MBA</h3>
				<div class="images">
					<a href="https://mystanford.mba/" rel="noopener noreferrer" target="_blank"
						>{% imagePreview "/images/mystanford-desktop-flat-fs8.png", "Desktop version of MyStanford MBA" %}</a>
					<a href="https://mystanford.mba/" rel="noopener noreferrer" target="_blank"
						>{% imagePreview "/images/mystanford-mobile-flat-fs8.png", "Mobile version of MyStanford MBA" %}</a>
				</div>
				<dl>
					<dt>Role:</dt>
					<dd>Developer</dd>

					<dt>Site Type:</dt>
					<dd>Custom (Dynamic PHP-based)</dd>

					<dt>Technology Stack:</dt>
					<dd><a class="link" href="https://www.drupal.org/">Drupal</a></dd>
					<dd><a class="link" href="https://reactjs.org/">React</a></dd>
					<dd><a class="link" href="https://www.mysql.com/">MySQL</a></dd>
					<dd>Custom OAuth 2.0 Salesforce Integration</dd>
				</dl>
				<a
					class="link"
					href="https://mystanford.mba/"
					rel="noopener noreferrer"
					target="_blank"
					><strong>Link to mystanford.mba</strong>
					{% include link.svg %}
				</a>
			</article>
			<article class="full-bleed padded flow">
				<h3 class="header" id="keytruda-veeva-clm">KEYTRUDA VEEVA CLM</h3>
				<div class="images">
					{% imagePreview "/images/keytruda-veeva-clm-fs8.png", "iPad version of Keytruda Veeva CLM" %}
				</div>
				<div>
					<a href="/videos/ipad.mp4" class="link" data-basiclightbox-enable="video"
						>Preview {% include preview.svg %}</a
					>
				</div>
				<dl>
					<dt>Role:</dt>
					<dd>Lead Developer</dd>

					<dt>Site Type:</dt>
					<dd>Custom Build (Statically Generated)</dd>

					<dt>Platform:</dt>
					<dd>
						<a class="link" href="https://www.veeva.com/products/multichannel-crm/clm/"
							>Veeva CLM</a
						>
					</dd>
					<dd><a class="link" href="https://www.salesforce.com/">Salesforce</a></dd>

					<dt>Technology Stack:</dt>
					<dd>
						<a class="link" href="https://handlebarsjs.com/">Handlebars</a>
					</dd>
					<dd>VanillaJS</dd>
					<dd>
						<a class="link" href="https://greensock.com/gsap/">GreenSock GSAP</a>
					</dd>
					<dd>
						<a class="link" href="https://romellem.github.io/impulsion/">Impulsion</a>
					</dd>
					<dd>
						<a class="link" href="https://openseadragon.github.io/">OpenSeadragon</a>
					</dd>
					<dd>
						<a class="link" href="https://sass-lang.com/">SCSS</a> (<a
							class="link"
							href="http://getbem.com/"
							>BEM</a
						>)
					</dd>
					<dd><a class="link" href="https://acss.io/">Atomic CSS</a></dd>

					<dt>Tooling:</dt>
					<dd>
						<a class="link" href="https://gulpjs.com/">Gulp</a> +
						<a class="link" href="http://browserify.org/">Browserify</a> +
						<a class="link" href="https://babeljs.io/">Babel</a>
					</dd>
				</dl>
			</article>
			<article class="full-bleed padded flow">
				<h3 class="header" id="ram-races">RAM RACES</h3>
				<div class="images">
					<a
						href="https://ramraces.enmotive.com/"
						rel="noopener noreferrer"
						target="_blank"
						>{% imagePreview "/images/ramraces-desktop-flat-fs8.png", "Desktop version of RAM Races" %}</a>
					<a
						href="https://ramraces.enmotive.com/"
						rel="noopener noreferrer"
						target="_blank"
						>{% imagePreview "/images/ramraces-mobile-flat-fs8.png", "Mobile version of RAM Races" %}</a>
				</div>
				<dl>
					<dt>Role:</dt>
					<dd>Developer</dd>

					<dt>Site Type:</dt>
					<dd>Custom (Dynamic PHP-based)</dd>

					<dt>Technology Stack:</dt>
					<dd><a class="link" href="https://www.nginx.com/">NGINX</a></dd>
					<dd><a class="link" href="https://cakephp.org/">CakePHP</a></dd>
					<dd><a class="link" href="https://jquery.com/">jQuery</a></dd>
					<dd><a class="link" href="https://mariadb.org/">MariaDB</a></dd>
					<dd>
						<a class="link" href="https://get.foundation/sites">Foundation</a>
					</dd>

					<dt>Tooling:</dt>
					<dd><a class="link" href="https://www.docker.com/">Docker</a></dd>
					<dd>
						<a class="link" href="https://docs.gitlab.com/ee/ci/">GitLab CI</a>
					</dd>
					<dd><a class="link" href="https://phinx.org/">Phinx</a></dd>
				</dl>
				<a
					class="link"
					href="https://ramraces.enmotive.com/"
					rel="noopener noreferrer"
					target="_blank"
					><strong>Link to ramraces.enmotive.com</strong>
					{% include link.svg %}
				</a>
			</article>
			<article class="full-bleed padded flow">
				<h3 class="header" id="guest-wireless-pdf-generator">
					GUEST WIRELESS PDF GENERATOR
				</h3>
				<div class="images">
					{% imagePreview "/images/red-carpet-desktop-flat-fs8.png", "Desktop version of Guest Wireless PDF Generator" %}
				</div>
				<p>
					When a weekly set of guest wireless credentials were created, several PDFs were
					automatically generated and emailed to the in-house print department for
					distribution.
				</p>
				<dl>
					<dt>Role:</dt>
					<dd>Lead Developer / Designer</dd>

					<dt>Platform:</dt>
					<dd>
						<a
							class="link"
							href="https://www.microsoft.com/en-us/microsoft-365/sharepoint/collaboration"
							>Sharepoint</a
						>
					</dd>

					<dt>Technology Stack:</dt>
					<dd><a class="link" href="https://wkhtmltopdf.org/">wkhtmltopdf</a></dd>
					<dd>
						<a
							class="link"
							href="https://support.microsoft.com/en-us/office/introduction-to-sharepoint-workflow-07982276-54e8-4e17-8699-5056eff4d9e3"
							>Sharepoint Workflow</a
						>
					</dd>
					<dd>
						<a class="link" href="https://docs.microsoft.com/en-us/powershell/"
							>Powershell</a
						>
					</dd>
				</dl>
			</article>
			<article class="full-bleed padded flow">
				<h3 class="header" id="fleishmanhillard-mis-tour">FLEISHMANHILLARD MIS TOUR</h3>
				<div class="images">
					{% imagePreview "/images/mis-tour-dekstop-flat-fs8.png", "Desktop version of MIS Tour" %}
				</div>
				<div>
					<a
						href="/images/mis-tour-animated.gif"
						class="link"
						data-basiclightbox-enable="image"
						>Preview {% include preview.svg %}</a
					>
				</div>
				<p>
					An interactive orientation that educated new employees on the IT department
					(MIS) and its various offerings. The tour included support for custom content
					based on office location and device type.
				</p>
				<dl>
					<dt>Role:</dt>
					<dd>Lead Developer / Designer / Copywriter</dd>

					<dt>Platform:</dt>
					<dd>
						<a
							class="link"
							href="https://www.microsoft.com/en-us/microsoft-365/sharepoint/collaboration"
							>Sharepoint</a
						>
					</dd>

					<dt>Technology Stack:</dt>
					<dd>
						<a class="link" href="https://github.com/pickhardt/Guiders-JS"
							>Guiders.js</a
						>
					</dd>
					<dd><a class="link" href="https://jquery.com/">jQuery</a></dd>
				</dl>
			</article>
		</section>
		<section>
			<h2 class="header" id="open-source">OPEN SOURCE</h2>
			<article class="full-bleed padded flow">
				<h3 class="header" id="yamodal">YAMODAL</h3>
				<p>
					YaModal is yet another modal library written in vanilla javascript. It aims to
					provide basic functionality for injecting an element into the DOM when a trigger
					is clicked, and removing that same node when a relevant close element is also
					clicked.
				</p>
				<dl>
					<dt>Tooling:</dt>
					<dd><a class="link" href="https://mochajs.org/">Mocha</a></dd>
					<dd>
						<a class="link" href="https://github.com/jsdom/jsdom">JSDOM</a>
					</dd>
					<dd>
						<a class="link" href="https://rollupjs.org/">Rollup</a> +
						<a class="link" href="https://babeljs.io/">Babel</a>
					</dd>
				</dl>
				<a
					class="link"
					href="https://www.npmjs.com/package/@designory/yamodal"
					rel="noopener noreferrer"
					target="_blank"
					><strong>Link to YaModal NPM Package</strong> {% include link.svg %}</a
				>
			</article>
			<article class="full-bleed padded flow">
				<h3 class="header" id="diff-dev-prod-ddp">DIFF-DEV-PROD (DDP)</h3>
				<p>
					A CLI tool to view useful differences between development source code and
					deployed production code.
				</p>
				<dl>
					<dt>Tooling:</dt>
					<dd>
						<a class="link" href="https://rollupjs.org/guide/en/">Rollup</a> +
						<a class="link" href="https://babeljs.io/">Babel</a>
					</dd>
					<dd><a class="link" href="https://oclif.io/">oclif</a></dd>
				</dl>
				<a
					class="link"
					href="https://www.npmjs.com/package/@designory/diff-dev-prod"
					rel="noopener noreferrer"
					target="_blank"
					><strong>Link to Diff-Dev-Prod NPM Package</strong>
					{% include link.svg %}
				</a>
			</article>
			<article class="full-bleed padded flow">
				<h3 class="header" id="hover-image">HOVER-IMAGE</h3>
				<p>A generic library to swap out an image on hover.</p>
				<dl>
					<dt>Tooling:</dt>
					<dd>
						<a class="link" href="https://rollupjs.org/">Rollup</a> +
						<a class="link" href="https://babeljs.io/">Babel</a>
					</dd>
				</dl>
				<a
					class="link"
					href="https://www.npmjs.com/package/@designory/hover-image"
					rel="noopener noreferrer"
					target="_blank"
					><strong>Link to Hover-Image NPM Package</strong>
					{% include link.svg %}
				</a>
			</article>
			<article class="full-bleed padded flow">
				<h3 class="header" id="build-diff">BUILD-DIFF</h3>
				<p>A CLI tool to copy out differences between two folders.</p>
				<dl>
					<dt>Tooling:</dt>
					<dd><a class="link" href="https://mochajs.org/">Mocha</a></dd>
					<dd><a class="link" href="https://circleci.com/">CircleCI</a></dd>
				</dl>
				<a
					class="link"
					href="https://www.npmjs.com/package/@designory/build-diff"
					rel="noopener noreferrer"
					target="_blank"
					><strong>Link to Build-Diff NPM Package</strong>
					{% include link.svg %}
				</a>
			</article>
		</section>
		<section>
			<h2 class="header" id="technical-knowledge">TECHNICAL KNOWLEDGE</h2>
			<article class="full-bleed padded flow">
				<h3 class="header" id="frontend">FRONTEND</h3>
				<ul>
					<li>
						HTML
						<ul>
							<li><a class="link" href="https://handlebarsjs.com/">Handlebars</a></li>
							<li>
								<a class="link" href="https://shopify.github.io/liquid/">Liquid</a>
							</li>
							<li>
								<a class="link" href="https://en.wikipedia.org/wiki/ASP.NET_Razor"
									>Razor</a
								>
							</li>
							<li><a class="link" href="https://mustache.github.io/">Mustache</a></li>
							<li>
								<a class="link" href="https://velocity.apache.org/">Velocity</a>
							</li>
							<li><a class="link" href="https://pugjs.org/">Pug</a></li>
						</ul>
					</li>
					<li>
						CSS
						<ul>
							<li><a class="link" href="https://sass-lang.com/">Sass / SCSS</a></li>
							<li><a class="link" href="http://lesscss.org/">Less</a></li>
							<li><a class="link" href="https://postcss.org/">PostCSS</a></li>
						</ul>
					</li>
					<li>
						JavaScript
						<ul>
							<li>
								<a class="link" href="https://reactjs.org/">React</a> (<a
									class="link"
									href="https://reactjs.org/docs/introducing-jsx.html"
									>JSX</a
								>)
								<ul>
									<li>
										<a class="link" href="https://styled-components.com/"
											>styled-components</a
										>
									</li>
								</ul>
							</li>
							<li><a class="link" href="https://vuejs.org/">Vue</a></li>
							<li><a class="link" href="https://backbonejs.org/">Backbone.js</a></li>
							<li><a class="link" href="https://jquery.com/">jQuery</a></li>
							<li>
								<a class="link" href="https://redux.js.org/">Redux</a>
								<ul>
									<li>
										<a class="link" href="https://redux-saga.js.org/"
											>Redux-Saga</a
										>
									</li>
									<li>
										<a
											class="link"
											href="https://github.com/reduxjs/redux-thunk"
											>Redux-Thunk</a
										>
									</li>
								</ul>
							</li>
							<li><a class="link" href="https://rxjs.dev/">RxJS</a></li>
							<li><a class="link" href="https://lodash.com/">lodash</a></li>
							<li>
								<a class="link" href="https://www.typescriptlang.org/"
									>TypeScript</a
								>
							</li>
							<li><a class="link" href="https://flow.org/">Flow</a></li>
							<li><a class="link" href="https://d3js.org/">D3</a></li>
							<li>
								<a
									class="link"
									href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API"
									>Canvas API</a
								>
							</li>
						</ul>
					</li>
					<li>
						UI Toolkits / Design Systems
						<ul>
							<li>
								<a class="link" href="https://get.foundation/sites">Foundation</a>
							</li>
							<li><a class="link" href="https://getbootstrap.com/">Bootstrap</a></li>
							<li>
								<a class="link" href="https://tailwindcss.com/">Tailwind CSS</a>
							</li>
							<li><a class="link" href="https://bulma.io/">Bulma</a></li>
						</ul>
					</li>
					<li>
						Animation
						<ul>
							<li>
								<a class="link" href="https://greensock.com/gsap/"
									>GreenSock GSAP</a
								>
							</li>
							<li>
								<a class="link" href="https://react-spring.io/">react-spring</a>
							</li>
							<li>
								<a class="link" href="https://www.framer.com/motion/"
									>Framer Motion</a
								>
							</li>
						</ul>
					</li>
					<li>
						<a class="link" href="https://www.npmjs.com/">NPM</a> /
						<a class="link" href="https://yarnpkg.com/">Yarn</a>
						<ul>
							<li><a class="link" href="https://gruntjs.com/">Grunt</a></li>
							<li><a class="link" href="https://gulpjs.com/">Gulp</a></li>
							<li><a class="link" href="https://webpack.js.org/">Webpack</a></li>
							<li><a class="link" href="https://rollupjs.org/">Rollup</a></li>
							<li><a class="link" href="https://parceljs.org/">Parcel</a></li>
							<li><a class="link" href="http://browserify.org/">Browserify</a></li>
							<li><a class="link" href="https://babeljs.io/">Babel</a></li>
							<li><a class="link" href="https://buble.surge.sh/guide/">Buble</a></li>
						</ul>
					</li>
					<li>
						Testing
						<ul>
							<li>
								<a class="link" href="https://jestjs.io/">Jest</a>
								<ul>
									<li>
										<a class="link" href="https://testing-library.com/"
											>Testing Library (React)</a
										>
									</li>
								</ul>
							</li>
							<li><a class="link" href="https://mochajs.org/">Mocha</a></li>
							<li><a class="link" href="https://storybook.js.org/">Storybook</a></li>
							<li><a class="link" href="https://www.cypress.io/">Cypress</a></li>
							<li>
								<a class="link" href="https://github.com/puppeteer/puppeteer"
									>Puppeteer</a
								>
							</li>
						</ul>
					</li>
					<li>
						<a class="link" href="https://developer.mozilla.org/en-US/docs/Web/SVG"
							>SVG</a
						>
					</li>
				</ul>

				<h3 class="header" id="backend">BACKEND</h3>
				<ul>
					<li>
						<a class="link" href="https://nodejs.org/">NodeJS</a>
						<ul>
							<li><a class="link" href="https://expressjs.com/">Express</a></li>
							<li><a class="link" href="https://www.gatsbyjs.com/">Gatsby</a></li>
							<li><a class="link" href="https://nextjs.org/">Next.js</a></li>
							<li>
								<a class="link" href="https://www.keystonejs.com/">KeystoneJS</a>
							</li>
							<li><a class="link" href="https://www.11ty.dev/">11ty</a></li>
						</ul>
					</li>
					<li>
						<a class="link" href="https://www.php.net/">PHP</a>
						<ul>
							<li><a class="link" href="https://wordpress.org/">Wordpress</a></li>
							<li><a class="link" href="https://www.drupal.org/">Drupal</a></li>
							<li><a class="link" href="https://cakephp.org/">CakePHP</a></li>
							<li><a class="link" href="https://laravel.com/">Laravel</a></li>
							<li><a class="link" href="https://codeigniter.com/">CodeIgniter</a></li>
						</ul>
					</li>
					<li><a class="link" href="https://jekyllrb.com/">Jekyll</a></li>
					<li><a class="link" href="https://httpd.apache.org/">Apache</a></li>
					<li><a class="link" href="https://www.nginx.com/">NGINX</a></li>
				</ul>

				<h3 class="header" id="database">DATABASE</h3>
				<ul>
					<li>
						<a class="link" href="https://www.mysql.com/">MySQL</a>
						<ul>
							<li>
								<a class="link" href="https://www.phpmyadmin.net/">phpMyAdmin</a>
							</li>
							<li><a class="link" href="https://phinx.org/">Phinx</a></li>
						</ul>
					</li>
					<li><a class="link" href="https://mariadb.org/">MariaDB</a></li>
					<li><a class="link" href="https://www.sqlite.org/">SQLite</a></li>
					<li>
						<a class="link" href="https://www.mongodb.com/">MongoDB</a>
						<ul>
							<li><a class="link" href="https://mongoosejs.com/">Mongoose</a></li>
						</ul>
					</li>
					<li><a class="link" href="https://graphql.org/">GraphQL</a></li>
				</ul>

				<h3 class="header" id="platform-ops">PLATFORM / OPS</h3>
				<ul>
					<li><a class="link" href="https://www.heroku.com/">Heroku</a></li>
					<li>
						<a class="link" href="https://www.salesforce.com/">Salesforce</a>
						<ul>
							<li>
								<a
									class="link"
									href="https://www.veeva.com/products/multichannel-crm/clm/"
									>Veeva CLM</a
								>
							</li>
						</ul>
					</li>
					<li><a class="link" href="https://pantheon.io/">Pantheon</a></li>
					<li>
						<a class="link" href="https://aws.amazon.com/">AWS</a>
						<ul>
							<li><a class="link" href="https://aws.amazon.com/s3/">S3</a></li>
						</ul>
					</li>
					<li><a class="link" href="https://azure.microsoft.com/">Azure</a></li>
					<li>
						Continuous Integration (CI)
						<ul>
							<li>
								<a class="link" href="https://docs.gitlab.com/ee/ci/">GitLab CI</a>
							</li>
							<li>
								<a class="link" href="https://github.com/features/actions"
									>GitHub Actions</a
								>
							</li>
							<li><a class="link" href="https://www.jenkins.io/">Jenkins</a></li>
						</ul>
					</li>
				</ul>

				<h3 class="header" id="tooling">TOOLING</h3>
				<ul>
					<li>
						<a class="link" href="https://git-scm.com/">Git</a>
						<ul>
							<li><a class="link" href="https://github.com/">GitHub</a></li>
							<li><a class="link" href="https://about.gitlab.com/">GitLab</a></li>
							<li><a class="link" href="https://bitbucket.org/">Bitbucket</a></li>
						</ul>
					</li>
					<li><a class="link" href="https://subversion.apache.org/">Subversion</a></li>
					<li><a class="link" href="https://www.mercurial-scm.org/">Mercurial</a></li>
					<li><a class="link" href="https://www.docker.com/">Docker</a></li>
					<li><a class="link" href="https://www.vagrantup.com/">Vagrant</a></li>
				</ul>

				<h3 class="header" id="other">OTHER</h3>
				<ul>
					<li>
						CLI
						<ul>
							<li>
								<a class="link" href="https://www.gnu.org/software/bash/">Bash</a>
							</li>
							<li>
								<a class="link" href="https://www.gnu.org/software/coreutils/"
									>GNU Coreutils</a
								>
							</li>
							<li>
								<a class="link" href="https://microsoft.com/powershell"
									>Powershell</a
								>
							</li>
							<li>
								<a
									class="link"
									href="https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/windows-commands"
									>Batch</a
								>
							</li>
						</ul>
					</li>
					<li><a class="link" href="https://www.json.org/">JSON</a></li>
					<li><a class="link" href="https://yaml.org/">YAML</a></li>
					<li><a class="link" href="https://www.w3.org/TR/xml11/">XML</a></li>
					<li>
						API
						<ul>
							<li><a class="link" href="https://restfulapi.net/">REST</a></li>
							<li><a class="link" href="https://www.odata.org/">OData</a></li>
							<li>
								<a class="link" href="https://en.wikipedia.org/wiki/SOAP">SOAP</a>
							</li>
							<li><a class="link" href="https://oauth.net/2/">OAuth 2.0</a></li>
							<li><a class="link" href="https://jwt.io/">JWT</a></li>
						</ul>
					</li>
					<li>
						Adobe Creative Suite
						<ul>
							<li>
								<a class="link" href="https://www.adobe.com/products/photoshop.html"
									>Photoshop</a
								>
							</li>
							<li>
								<a
									class="link"
									href="https://www.adobe.com/products/illustrator.html"
									>Illustrator</a
								>
							</li>
							<li>
								<a class="link" href="https://www.adobe.com/products/animate.html"
									>Animate (Flash)</a
								>
							</li>
							<li>
								<a
									class="link"
									href="https://www.adobe.com/products/aftereffects.html"
									>After Effects</a
								>
							</li>
							<li>
								<a class="link" href="https://www.adobe.com/products/indesign.html"
									>InDesign</a
								>
							</li>
							<li>
								<a class="link" href="https://acrobat.adobe.com/us/en/acrobat.html"
									>Acrobat</a
								>
							</li>
						</ul>
					</li>
					<li>
						<a class="link" href="https://www.lexaloffle.com/pico-8.php">PICO-8</a>
						(Lua)
					</li>
				</ul>

				<h3 class="header" id="historical">HISTORICAL</h3>
				<p>
					I have been building websites professionally for more than a decade, and
					programming in general for more than {% relativeYear -2003 %} years. I have used
					a lot of technology during that time. These are technolgies I have used in the
					past, although probably haven't had to work closely with in a&nbsp;while.
				</p>
				<ul>
					<li>
						<a class="link" href="http://csharp.net/">C#</a>
						<ul>
							<li>
								<a class="link" href="https://docs.microsoft.com/en-us/dotnet/"
									>.NET</a
								>
							</li>
						</ul>
					</li>
					<li><a class="link" href="https://isocpp.org/">C++</a></li>
					<li><a class="link" href="https://www.oracle.com/java/">Java</a></li>
					<li><a class="link" href="https://www.python.org/">Python</a></li>
					<li><a class="link" href="https://www.ruby-lang.org/">Ruby</a></li>
					<li><a class="link" href="https://www.r-project.org/">R</a></li>
					<li>
						<a class="link" href="https://www.mathworks.com/products/matlab.html"
							>MATLAB</a
						>
					</li>
					<li>
						<a class="link" href="https://en.wikipedia.org/wiki/ActionScript"
							>ActionScript</a
						>
					</li>
					<li><a class="link" href="https://lisp-lang.org/">Lisp</a></li>
					<li><a class="link" href="https://en.wikipedia.org/wiki/Prolog">Prolog</a></li>
					<li><a class="link" href="https://www.gnu.org/software/bison/">Bison</a></li>
					<li><a class="link" href="https://en.wikipedia.org/wiki/BASIC">BASIC</a></li>
					<li>Assembly</li>
				</ul>
			</article>
		</section>
		<footer>
			Made with ☕️ by <strong class="shadowed">Matt Wade</strong>. © {% relativeYear 0 %}.
		</footer>
		<script src="/js/main.bundle.js"></script>
	</body>
</html>
